<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" type="text/css">
    <style>
    #wrapper{margin: auto;height: auto;width: 1000px;}</style>

</head>
<body>
<div id="wrapper">
    <div id="khung1">
        <div class="cota"></div>
        <div class="cota"></div>
    </div>
    <div id="khung2">
        <div class="cotb" id="b1"></div>
        <div class="cotb">
            <div id="bh1"></div>
            <div id="bh2"></div>
        </div>
        <div class="cotb">
            <div id="bh3"></div>
            <div id="bh4"></div>
        </div>
        <div class="cotb" id="b4"></div>
    </div>
    <div id="khung3"></div>
    <div id="khung4">
        <div class="cotc" id="c1"></div>
        <div class="cotc" id="c2"></div>
        <div class="cotc" id="c3"></div>
    </div>
    <div id="khung5">
        <div class="cotd">
            <div id="d1"></div>
            <div id="d2"></div>
            <div id="d3"></div>
        </div>
        <div class="cotd">
            <div id="d4"></div>
            <div id="d5"></div>
            
        </div>
        <div class="cotd">
            <div id="d6"></div>
            <div id="d7"></div>
            <div id="d8"></div>
        </div>    
    </div>
    <div>
        <div class="v" style="background-color: indianred"></div>
        <div class="v" style="background-color: darkviolet"></div>
        <div class="v" style="background-color: darkred" ></div>
        <div class="v" style="background-color: darksalmon" ></div>
        <div class="v" style="background-color: darkcyan"></div>
        <div class="v" style="background-color: darkblue"></div>
    </div>
    <div>
        <div class="v1" style="background-color: dimgray"></div>
        <div class="v1" style="background-color: deeppink"></div>
        <div class="v1" style="background-color: darkseagreen"></div>
    </div>
</div>
</body>
</html>